html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* cette classe veut dire de prendre toutes les borders et les padding des boxes dans le calcul mais le margin n'est pas pris en compte  */
*,*::before,*::after {
    box-sizing: inherit; /*inherit veur dire hérite du parent*/
}

main{
    padding: 3rem 4rem;
}
.questionnaire{
    margin-left: 1rem;
}
div ol{
    list-style-type: decimal ;
    
}
h1,h2,h3,h4,h5{
  font-weight: bold;
}
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

     
}
li ul li{
    list-style-type: none;
    list-style-position: inside;
    padding-left: 1rem;
}
ol li {
    padding-bottom: 2rem;
}

ul li{
    list-style-type:disc;
    padding-top:0.25rem ;
    padding-bottom: 0.25rem;
    list-style-position: inside;
    padding-left: 1rem;
}
header{
    display: flex;
   flex-direction: column;
    justify-content: center;
   background-color:#00a15e;
   color: white;
   padding: 2rem 1rem ;
    
}
h1{
    font-family: 'Bebas Neue';
    font-size:2rem;
    font-weight: 700;
    margin-bottom:  2rem;
}
.gras{
    font-weight: bold;
    font-size: 2rem;
}

h2{

    padding-bottom: 1rem;
    padding-top: 1rem;
}

h4{
    padding:1rem 0;
    font-weight: 700;
}

p{
padding-top:.25rem;
padding-bottom: 1rem;
line-height: 1.5rem;
}

footer {
    background-color: #00a15e;
    color: white;
}
footer > div {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem 0;
}
.btn:hover{
    background-color:#08b96f;
    
}
.btn:active{
    background-color:#097749;
}
.btn1{
    display: flex;
    flex-direction:row;
    justify-content: center;
    justify-items: center;
}

.btn{

    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #00a15e;
    border-radius:1rem;
    margin: 1rem auto;
    padding: 1rem;
    color:white;
    border: none;
}

.center{
    
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
    border-radius: 0.25rem;
}
.labelgraph{
    display: flex;
    justify-content:space-around;
    margin-left: 1.5rem;
}

.numBoite{
    Text-align:center;
    Position:relative;
    Top:-1.5rem
}
.graduation{
    display: flex;
    flex-direction: column;
    position:absolute;
    left: -1.5rem;
    top: -0.5rem;
    font-size: 12px;
    line-height: 21px;
   
}
.graphique {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 15rem;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}
 div .resulat2{
      padding-left: 2rem;
 }

.box {
    height: 4em;
    width: 4rem;
    text-justify: auto;
}

.box.Competitif {
    background-color:#74da85;
}

.box.Collaborant {
    background-color:#97DFC6;
}
.box.Compromis {

    background-color:#81b9a2;
}
.box.Evitant {
    background-color:#74D0F1;
}
.box.Accommodant {
    background-color:#a3f1d1;
}

#cl{
    padding-right: 3rem;
}
#lg{
    padding-right: 3rem;
}
.resultat{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.resultat  span{
    font-weight: bold;
    font-size:1rem;
    
}
#styleprincipal span{
margin: 5rem auto;
    size: 3rem;
}
.style_secondaire{

    margin-left: 2rem;
    
}
.hidden{
    display: none;
    
}


#resultat_test{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 1.5rem;
    font-size: 1rem;
    color: red;
}
#r1,#r2{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #00a15e;
    font-size: 1.5rem;
    font-style: italic;
    padding-left: 3rem;
    padding-right: 3rem;
}
#r2{
    padding-bottom:  auto;
    margin-bottom: 1rem;
}
 
    
     

body{
    line-height: 1.4rem;
}
.text{
    writing-mode: vertical-rl;
    text-orientation: sideways;
    padding-top: 1rem;
  }


footer div {
    display: flex;
    flex-direction: column;
}

@media(min-width:35rem) {
    .text{
        writing-mode: inherit;
        text-orientation: inherit;
        padding-top: 1rem;
      }
    
}
@media(min-width:65rem) {
    main{
        padding: 2rem 0;
    }
    .graduation{
        display: flex;
        flex-direction: column;
        position:absolute;
        left: -1.5rem;
        top: -0.5rem;
        line-height: 1.30rem;
       
    }
    .wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 60rem;
    }
    .resultat >span{
        font-weight: bold;
        font-size:2rem;
    }
    h1{
        font-family: 'Bebas Neue';
        font-size:4rem;
        font-weight: 700;
    }
    h2{
        font-size:1.5rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
    
}
@media print {
    @page {
    /* Enlève les marges de la page à l’impression */
    margin: 0;
    }
    #definition{
        margin-top: 3rem;
    }
    .cache1,.cache2,footer {
    display: none;
    }
    
    }